blinker
click
colorama
Flask
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
mysql
mysql-connector-python
mysqlclient
numpy
packaging
pandas
protobuf
python-dateutil
pytz==2023.3.post1
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
typing_extensions
tzdata
Werkzeug
